@font-face {
  font-family: Font_Regular;
  src: url("Assets/Fonts/sf-pro-display_regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: Font_Regular;
}
body,
html {
  height: 100%;
  width: 100%;
  /* position: relative; */
}
.navbar {
  /* position: fixed; */
  display: flex;
  width: 100%;
  height: 44px;
  justify-content: center;
  gap: 2vw;
  align-items: center;
  /* background-color: black; */
  background-color: black;
  /* text-decoration: none;   */
}
i {
  color: rgb(202, 199, 199);
}
.navbar a {
  /* position: fixed; */
  text-decoration: none;
  color: rgb(194, 180, 180);
  font-size: 12px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  /* color: var(--r-globalnav-color); */
  /* background-color: transparent; */
}
.para {
  height: 40px;
  background: rgb(29, 27, 27);
  text-align: center;
  align-items: center;
  padding-top: 16px;
}

.para p {
  color: #f2f2f2;
}
.para a {
  color: blue;
}
/* slide one */

.container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
}

/* Slide one--------------------------------------------------- */
.slide_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: url("Assets/iphone15pro.jpg"); */
  background-repeat: no-repeats;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.heading_tags {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  top: 6%;
  left: 40%;
  position: absolute;
  color: white;
}
.link_tags {
  display: inline-flex;
  gap: 70px;
  margin-top: 20px;
  font-size: larger;
  font-weight: bold;
}

.slide_1 a {
  text-decoration: none;
}

/* slide two --------------------------------------------------*/
.slide_2 {
  position: absolute;
  margin-top: 10px;
  background-image: url("Assets/sky.jpg");
  background-size: contain;
  height: 70%;
  width: 100%;
}

.heading_tags_2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  top: 6%;
  left: 40%;
  position: absolute;
  color: black;
}
.link_tags_2 {
  display: inline-flex;
  gap: 70px;
  margin-top: 20px;
  font-size: larger;
  font-weight: bold;
}
.slide_2 a {
  text-decoration: none;
}
/* slide three------------------------------- */

.slide_3 {
  position: absolute;
  margin-top: 10px;
  background: url("Assets/small_2x.mp4");
  background-size: contain;
  height: 70%;
  width: 100%;
}
.child-video {
  /* position: absolute; */
  height: 90%;
  width: 100%;
  /* position: relative; */
}
.heading_tags_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid black; */
  width: fit-content;
  top: 70%;
  left: 40%;
  position: absolute;
  color: white;
  /* margin-top: 30px; */
}
.heading_tags_3 img {
  height: 80%;
  width: 60%;
  margin-bottom: 30px;
}
.btn_tags {
  margin-top: 30px;
  font-size: 80px;
  display: inline-flex;
  gap: 70px;
  height: 40px;
  width: 70px;
  background-color: #ff5c5c;
  border-radius: 20%;
}
